@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position:absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position:absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;


}
#board{
    background: linear-gradient(rgb(170, 236, 170),rgb(122, 122, 36));
    width: 90vmin;
    height: 92vmin;
    border:2px solid black;
    display: grid;
    grid-template-rows : repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: linear-gradient(rgb(12, 1, 1) yellow);
    background-color: blue;
    border:2px solid rgb(48, 7, 48);
    transform: scale(1.02);
    border-radius: 9px;    
}

.snake{
    background-color: rgb(72, 241, 128);
    border: .16vmin solid rgb(254, 41, 41);
    border-radius: 8px;
}

.food{
    background: linear-gradient(red, purple);
    border: .16vmin solid black;
    border-radius: 8px;
}
